.reactModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    /* Semi-transparent white */
    backdrop-filter: blur(10px);
    /* Blur effect */
}
h2{
    margin-left: 25px;
    max-width: 250px;
    word-wrap: break-word;}

input {
    width: 250px;
    margin-left: 0;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 4px;
    height: 32px;
    outline: none;
    /* Remove default outline */
    transition: background-color 0.3s;
}

input:hover {
    text-align: justify;
    text-decoration: wavy;
    width: 250px;
    margin-top: 20px;
    border: 1px solid rgb(32, 31, 31);
    /* Set border */
    height: 32px;
    outline: none;
    transition: background-color 0.3s;

    border: 1/2px solid rgb(152, 152, 209);
    /* Change border color on hover */
    background-color: rgba(152, 152, 209, 0.1)
}



input[type="radio"] {
    height: 16px;
    width: 14px;
    margin: 12px;
    margin-top: 20px;
}

.form {
    height: 600px;
    width: 280px;
    padding: 20px;
    z-index: 1;
    /* background-color: black; */
    opacity: 0.8;
    /* margin-top: 5%; */
    backdrop-filter: blur(10px)
    
}

.submit {
    margin-left: 0;
    border: 2px;
    background-color: blue;
    color: white;
    text-align: center;
    height: 40px;
    width: 250px;
    border-radius: 6px;
}
.close{
    position: relative;
    transform: translate(1150%,-1650%);
    background-color: white;
    border: 6px;
    border-radius: 50px;
    border-color:rgb(182, 12, 12) ;
    font-size: large;
    font-weight:bolder;
}
p{
    margin-top: 10px;
    font-size: 15px;
}
